{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">SOC-KG ORION</h1>
        </div>
    </div>

    <!-- Button group -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-start" role="toolbar" aria-label="Toolbar with button groups">
                    <button id="open-modal-btn" class="btn btn-primary me-2">Add Node to Canvas</button>
                    <button id="load-ontology-btn" class="btn btn-primary me-2">Load Ontology</button>
                    <button id="Clear-canas-btn" type="button" class="btn btn-danger">Clear Canvas</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Network canvas -->
    <div style="display: flex; height: 80vh;">
        <div id="mynetwork" style="flex-grow: 1; border: 5px solid lightgray;"></div>
    </div>

    <!-- Modal backdrop -->
    <div class="modal-backdrop" id="modal-backdrop"></div>

    <!-- Modal -->
    <div class="modal-body" id="search-modal" style="width: 1000px; height:750px;">
        <div class="container-fluid">
            <div class="modal-header">
                <h3 class="modal-title">Search Nodes</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="close-modal-btn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="input-group">
                <select id="label-select" class="form-select" aria-label="Default select example">
                    <option selected>Select label</option>
                    <!-- Options will be added dynamically -->
                </select>
                <select id="property-select" class="form-select" aria-label="Default select example">
                    <option selected>Select property</option>
                    <!-- Options will be added dynamically -->
                </select>

                <input type="text" class="form-control" placeholder="Filter keyword">
            </div>

            <br>

            <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
                <table class="table table-striped table-light table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Labels</th>
                            <th scope="col">Name</th>
                            <th scope="col">Import</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    // Get nodes and edges data from Flask
    const allNodesJson = {{ node_list | tojson | safe }};
    const allEdgesJson = {{ edge_list | tojson | safe }};

    // DOM element references
    const modal = document.getElementById("search-modal");
    const modalBackdrop = document.getElementById("modal-backdrop");
    const openModalBtn = document.getElementById("open-modal-btn");
    const closeModalBtn = document.getElementById("close-modal-btn");
    const clearCanvasBtn = document.getElementById("Clear-canas-btn");
    const loadOntologyBtn = document.getElementById("load-ontology-btn");
    const labelSelect = document.getElementById("label-select");
    const propertySelect = document.getElementById("property-select");
    const tableBody = document.getElementById("table-body");

    // Event listeners
    loadOntologyBtn.addEventListener('click', loadOntology);
    openModalBtn.addEventListener('click', openModal);
    closeModalBtn.addEventListener('click', closeModal);
    clearCanvasBtn.addEventListener('click', clearCanvas);
    labelSelect.addEventListener('change', handleLabelChange);

    // Close modal when clicking outside
    window.addEventListener('click', (event) => {
        if (event.target === modalBackdrop) {
            closeModal();
        }
    });

    // Populate label select
    const labelSelectList = {{ node_list | tojson | safe }}.map(node => node.label);
    populateSelect(labelSelect, labelSelectList);

    let network;

    function loadOntology(nodes, edges) {
        nodes = new vis.DataSet(allNodesJson);
        edges = new vis.DataSet(allEdgesJson);
        redrawAll(nodes, edges);
    }

    function openModal() {
        modal.style.display = "block";
        modalBackdrop.style.display = "block";
    }

    function closeModal() {
        modal.style.display = "none";
        modalBackdrop.style.display = "none";
    }

    function clearCanvas() {
        redrawAll(null, null);
    }

    async function handleLabelChange() {
        const selectedLabel = labelSelect.value;
        await populatePropertySelect(selectedLabel);
        await populateNodeInstances(selectedLabel);
    }

    async function getDataProperties(label) {
        try {
            const response = await fetch(`/get_data_properties_from_class?class_type=${encodeURIComponent(label)}`);
            if (!response.ok) {
                throw new Error(`Server error: ${response.status}`);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error fetching node instances:', error);
            return [];
        }
    }

    async function getNodesInstances(classType, limit = 10, offset = 0) {
        try {
            const response = await fetch(`/get_node_instance_from_class?class_type=${encodeURIComponent(classType)}&limit=${limit}&offset=${offset}`);
            if (!response.ok) {
                throw new Error(`Server error: ${response.status}`);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error fetching node instances:', error);
            return [];
        }
    }

    function populateSelect(selectElement, options) {
        selectElement.innerHTML = options.map(option => `<option value="${option}">${option}</option>`).join('');
    }

    async function populatePropertySelect(selectedLabel) {
        const properties = await getDataProperties(selectedLabel);
        populateSelect(propertySelect, properties.map(prop => prop.name));
    }

    async function populateNodeInstances(selectedLabel) {
        tableBody.innerHTML = '<tr><td colspan="3" style="text-align: center;"><img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGQ5ZjJ4azlrMzBuaTJ0Mnd2NHBoOGtpa3o3eXpvdHcwOHM3NG5haiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/TTMXOwinNDNv4qnm3Q/giphy.webp" alt="Loading..." width="50"></td></tr>';

        const nodesInstances = await getNodesInstances(selectedLabel);
        tableBody.innerHTML = nodesInstances.map(instance => `
        <tr>
            <td>${selectedLabel}</td>
            <td>${instance}</td>
            <td><button class="import-btn">Import</button></td>
        </tr>
    `).join('');
    }

    // Initialize the network
    redrawAll(null, null);
    function redrawAll(nodeList, edgeList) {
        const container = document.getElementById("mynetwork");
        const options = {
            autoResize: true,
            height: "100%",
            width: "100%",
            locale: "en",
            nodes: {
                scaling: { min: 10, max: 30 },
                font: { size: 12, face: "Tahoma" },
                borderWidth: 3,
                shape: "circle",
            },
            edges: {
                width: 0.15,
                color: { inherit: "from" },
                smooth: { type: "continuous" },
            },
            physics: {
                barnesHut: {
                    gravitationalConstant: -7000,
                    centralGravity: 0,
                    springLength: 120,
                },
                minVelocity: 0.75
            },
            interaction: {
                tooltipDelay: 200,
                hideEdgesOnDrag: true,
                hideEdgesOnZoom: true,
                hover: true,
                hoverConnectedEdges: true,
                keyboard: {
                    enabled: true,
                    speed: { x: 10, y: 10, zoom: 0.02 },
                    bindToWindow: true,
                },
                navigationButtons: true,
            },
            layout: {
                randomSeed: '0.6220599341091104:1726193513099',
                improvedLayout: true,
            },
        };

        if (!nodeList || !edgeList) {
            nodeList = new vis.DataSet({});
            edgeList = new vis.DataSet({});
        }
        const data = { nodes: nodeList, edges: edgeList };
        network = new vis.Network(container, data, options);

        const networkCanvas = container.getElementsByTagName("canvas")[0];
        networkCanvas.style.cursor = "default";

        network.on("hoverNode", () => networkCanvas.style.cursor = "grab");
        network.on("blurNode", () => networkCanvas.style.cursor = "default");
        network.on("hoverEdge", () => networkCanvas.style.cursor = "grab");
        network.on("blurEdge", () => networkCanvas.style.cursor = "default");

        allNodes = nodeList.get({ returnType: "Object" });
    }
</script>
{% endblock %}