{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.css">

<div class="container-fluid">

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">SOC-KG ORION</h1>
        </div>
    </div>

    <!-- Button group -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-start" role="toolbar" aria-label="Toolbar with button groups">
                    <button id="open-modal-btn" class="btn btn-primary me-2">Add Node to Canvas</button>
                    <button id="load-ontology-btn" class="btn btn-primary me-2">Load Ontology</button>
                    <button id="Clear-canas-btn" type="button" class="btn btn-danger">Clear Canvas</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Network canvas -->
    <div style="display: flex; height: 80vh;">
        <div id="mynetwork" style="flex-grow: 1; border: 5px solid lightgray;"></div>
    </div>

    <!-- Modal backdrop -->
    <div class="modal-backdrop" id="modal-backdrop"></div>

    <!-- Modal -->

    <div class="container-fluid search-modal" id="search-modal">
        <div class="modal-header">
            <h3 class="modal-title">Search and Add Nodes</h3>
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close"
                id="close-modal-btn">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="input-group">
            <select id="label-select" class="form-select aria-label=" Default select example">
                <option selected>Select label</option>
                <!-- Options will be added dynamically -->
            </select>
            <select id="property-select" class="form-select" aria-label="Default select example">
                <option selected>Select property</option>
            </select>

            <input type="text" class="form-control" placeholder="Filter keyword">
        </div>

        <hr>

        <table class="table table-striped table-light table-bordered table-hover" id="table" data-show-columns="true"
            data-pagination="true" data-search="true" data-checkbox-header="false" data-click-to-select="true"
            data-show-fullscreen="true" data-show-search-button="true" data-buttons-align="left"
            data-toggle="table" data-url="http://localhost:5000/get_node_instance_from_class?search&class_type=WeatherObservation" data-side-pagination="server">
            <thead id="table-head">
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="class" data-sortable="true">Class</th>
                    <th data-field="property" data-sortable="true">Propery</th>
                    <th data-field="uri" data-sortable="true">URI</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">

    // Get nodes and edges data from Flask
    const allNodesJson = {{ node_list | tojson | safe }};
    const allEdgesJson = {{ edge_list | tojson | safe }};

    // DOM element references
    const modal = document.getElementById("search-modal");
    const modalBackdrop = document.getElementById("modal-backdrop");
    const openModalBtn = document.getElementById("open-modal-btn");
    const closeModalBtn = document.getElementById("close-modal-btn");
    const clearCanvasBtn = document.getElementById("Clear-canas-btn");
    const loadOntologyBtn = document.getElementById("load-ontology-btn");
    const labelSelect = document.getElementById("label-select");
    const propertySelect = document.getElementById("property-select");
    const tableBody = document.getElementById("table-body");
    const currentPageSpan = document.getElementById("current-page");
    const tableHead = document.getElementById("table-head");

    // Event listeners
    loadOntologyBtn.addEventListener('click', loadOntology);
    openModalBtn.addEventListener('click', openModal);
    closeModalBtn.addEventListener('click', closeModal);
    clearCanvasBtn.addEventListener('click', clearCanvas);
    labelSelect.addEventListener('change', handleLabelChange);
    propertySelect.addEventListener('change', handlePropertyChange);

    // Close modal when clicking outside
    window.addEventListener('click', (event) => {
        if (event.target === modalBackdrop) {
            closeModal();
        }
    });

    // $(function updateTable() {
    //     var rows = [];
    //     $('#table').bootstrapTable({
    //         paginationLoadMore: true,
    //         queryParams(params) {
    //             params.limit = 10
    //             params.offset = rows.length
    //             params.class_type = labelSelect.value
    //             return params
    //         },
    //         responseHandler(res) {
    //             return res
    //         }
    //     })
    // });

    // Populate label select
    const labelSelectList = {{ node_list | tojson | safe }}.map(node => node.label);
    populateSelect(labelSelect, labelSelectList);

    let network;

    function loadOntology(nodes, edges) {
        nodes = new vis.DataSet(allNodesJson);
        edges = new vis.DataSet(allEdgesJson);
        redrawAll(nodes, edges);
    }

    function openModal() {
        modal.style.display = "block";
        modalBackdrop.style.display = "block";
    }

    function closeModal() {
        modal.style.display = "none";
        modalBackdrop.style.display = "none";
    }

    function clearCanvas() {
        redrawAll(null, null);
    }

    async function handleLabelChange() {
        const selectedLabel = labelSelect.value;
        await populatePropertySelect(selectedLabel);
        await updateTable(selectedLabel);
    }

    async function updateTable(class_type) {

        // change table uri
        $('#table').bootstrapTable('refreshOptions', {
            url: `http://localhost:5000/get_node_instance_from_class?class_type=${class_type}`
        });
    }

    async function handlePropertyChange() {
        const selectedProperty = propertySelect.value;
        tableHead.innerHTML = `<tr><th scope="col">#</th><th scope="col">Labels</th><th scope="col">${selectedProperty}</th><th scope="col">Import</th></tr>`;
        await populateNodeInstances(labelSelect.value, propertySelect.value);
    }

    async function getTotalItemCount(classType) {
        try {
            const response = await fetch(`/get_instance_count?class_type=${encodeURIComponent(classType)}`);
            if (!response.ok) {
                throw new Error(`Server error: ${response.status}`);
            }
            const data = await response.json();
            totalItems = data || 0;

        } catch (error) {
            console.error('Error fetching instance count:', error);
            totalItems = 0;
        }
    }

    async function getDataProperties(label) {
        try {
            const response = await fetch(`/get_data_properties_from_class?class_type=${encodeURIComponent(label)}`);
            if (!response.ok) {
                throw new Error(`Server error: ${response.status}`);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error fetching node instances:', error);
            return [];
        }
    }

    async function getNodesInstances(classType, selectedProperty, limit = itemsPerPage, offset = 0) {
        try {
            const response = await fetch(`/get_node_instance_from_class?class_type=${encodeURIComponent(classType)}&property_name=${encodeURIComponent(selectedProperty)}&limit=${limit}&offset=${offset}`);
            if (!response.ok) {
                throw new Error(`Server error: ${response.status}`);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error fetching node instances:', error);
            return [];
        }
    }

    function populateSelect(selectElement, options) {
        // check if select element is property select
        if (selectElement === propertySelect) {
            // add default option
            options.unshift('instance_uri');
        }
        selectElement.innerHTML = options.map(option => `<option value="${option}">${option}</option>`).join('');
    }

    async function populatePropertySelect(selectedLabel) {
        const properties = await getDataProperties(selectedLabel);
        populateSelect(propertySelect, properties.map(prop => prop.name));
    }


    // Initialize the network
    redrawAll(null, null);
    function redrawAll(nodeList, edgeList) {
        const container = document.getElementById("mynetwork");
        const options = {
            autoResize: true,
            height: "100%",
            width: "100%",
            locale: "en",
            nodes: {
                scaling: { min: 10, max: 30 },
                font: { size: 12, face: "Tahoma" },
                borderWidth: 3,
                shape: "circle",
            },
            edges: {
                width: 0.15,
                color: { inherit: "from" },
                smooth: { type: "continuous" },
            },
            physics: {
                barnesHut: {
                    gravitationalConstant: -7000,
                    centralGravity: 0,
                    springLength: 120,
                },
                minVelocity: 0.75
            },
            interaction: {
                tooltipDelay: 200,
                hideEdgesOnDrag: true,
                hideEdgesOnZoom: true,
                hover: true,
                hoverConnectedEdges: true,
                keyboard: {
                    enabled: true,
                    speed: { x: 10, y: 10, zoom: 0.02 },
                    bindToWindow: true,
                },
                navigationButtons: true,
            },
            layout: {
                randomSeed: '0.6220599341091104:1726193513099',
                improvedLayout: true,
            },
        };

        if (!nodeList || !edgeList) {
            nodeList = new vis.DataSet({});
            edgeList = new vis.DataSet({});
        }
        const data = { nodes: nodeList, edges: edgeList };
        network = new vis.Network(container, data, options);

        const networkCanvas = container.getElementsByTagName("canvas")[0];
        networkCanvas.style.cursor = "default";

        network.on("hoverNode", () => networkCanvas.style.cursor = "grab");
        network.on("blurNode", () => networkCanvas.style.cursor = "default");
        network.on("hoverEdge", () => networkCanvas.style.cursor = "grab");
        network.on("blurEdge", () => networkCanvas.style.cursor = "default");

        allNodes = nodeList.get({ returnType: "Object" });
    }
</script>
{% endblock %}